{% extends 'layout.html.twig' %}


{% block content %}	
	<div class="d-grid gap-3">
		<form>
			<div class="row p-3">
				<div class="col">
					<label for="origen">Origen *</label>
					<select class="form-select" name="origen_buscador" id="origen_buscador">
					</select>
				</div>
				<div class="col">
					<label for="destino">Destino *</label>
					<select class="form-select" name="destino_buscador" id="destino_buscador">
					</select>
				</div>
				<div class="col">
					<label for="date">Fecha *</label>
					<input type="date" class="form-control" name="date_buscador" id="date_buscador" min="{{date("today") | date("Y-m-d")}}">
				</div>
				<div class="col position-relative ">
					<input class="btn btn-primary position-absolute bottom-0 start-0" type="button" name="btn-search-service" id="btn-search-service" value="Buscar">
				</div>
			</div>
		</form>	
	</div>


	<div class="row p-3">
		<div class="invisible" id="content_result_search">
			{{include('table.services.results.html.twig')}}
		</div>
	</div>	

	{# Maqueta bus #}
	<div class="invisible" id="bloque_maqueta_bus">
		<div class="row p-3">
			{# Bloque dibujo colectivo #}
			<div class="col-4">
				<h5 id="title_maqueta_bus"></h5>
				<h5 id="title_seat_available"></h5>
				<table>
					<thead></thead>
					<tbody id="maqueta_bus">
					</tbody>
				</table>
			</div>

			{# Bloque informativo #}
			<div class="col-8">
				<h5 id="title_info_service"> </h5>
				<div class="row" id="block_information_service">
					{% block results %}
						{% if view is defined %}
							{{include(view)}}
						{% endif %}
					{% endblock %}
				</div>
				
				
			</div>

		</div>
	</div>	

	{# Ver tooltips bootstrap #}

	{# Modal 1 #}
	<div class="modal" id="staticBackdrop">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="title_modal"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn_close_modal_1"></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-6 mb-3">
							<label class="form-label">Origen:</label>
						</div>
						<div class="col-6 mb-3">
							<label class="form-label" id="origen_modal">Origen</label>
						</div>
					</div>
					<div class="row">
						<div class="col-6 mb-3">
							<label class="form-label">Destino:</label>
						</div>
						<div class="col-6 mb-3">
							<label class="form-label" id="destino_modal">Destino</label>
						</div>
					</div>
					<div class="row">
						<div class="col-6 mb-3">
							<label class="form-label">Precio:</label>
						</div>
						<div class="col-6 mb-3">
							<label class="form-label" id="precio_modal">Precio</label>
						</div>
					</div>
					<div class="row">
						<div class="col-6 mb-3">
							<label class="form-label">Ingrese DNI:</label>
						</div>
						<div class="col-6 mb-3">
							<input type="text" class="form-control" id="dni_modal_seat">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn_canceled_modal_1">Cancelar</button>
					<button type="button" class="btn btn-primary" id="btn_verify_dni">Continuar</button>
				</div>
			</div>
		</div>
	</div>

	{# Modal 2 #}
	<div class="modal" id="modal2">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="title_modal_passenger_dates"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn_close_modal_2"></button>
				</div>
				<div class="modal-body" id="modal_body_after_verify">
					<form id="form-modal-passenger">
					</form>
				</div>
				<div class="modal-footer" id="panel_btn_passenger">
					<button type="button" class="btn btn-secondary" {# data-bs-target="#staticBackdrop" data-bs-toggle="modal" data-bs-dismiss="modal" #} id="btn_back_to_modal">Volver</button>
					{# Creando btn desde js#}
					{# <button type="button" class="btn btn-primary" id="btn_accept_passenger_dates">Aceptar</button> #}
				</div>
			</div>
		</div>
	</div>


{% endblock %}


