	<!DOCTYPE html>
	<html>
	<head>
		{% block head %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
			
			{# iconos Google #}
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet">
		{% endblock %}

		<title>
			{% block title %} 
				{{titles | default('titulo layout') | title }}
			{% endblock %}
		</title>

	</head>
	<body>
		{% block header %}
			<nav class="navbar navbar-light">
				<div class="container">
					{# <a class="d-inline-block align-text-top" href="index.php"> #}
					<a class="d-inline-block align-text-top" href="{{url('bus_index')}}">
						<img src= "{{asset('img/logo_bus.png')}}" alt="" width="100" height="100" class="d-inline-block align-text-top">
						{# <img src= "./files/logo_bus.png" alt="" width="100" height="100" class="d-inline-block align-text-top"> #}
					</a>
					<div>
						<a class="d-flex nav-item" href="">Ingresar</a>
						<a class="d-flex nav-item" href="{{path('servicio_index',{'action':'index', 'view':'table-services','page':1})}}">Ir a servicio</a>
						{# <a class="d-flex nav-item" href="./controllers/Services.controller/services.controller.php?action=index">Ir a servicio</a> #}
					</div>
					{# <a class="d-flex nav-item" href="">Ingresar</a>
					<a class="d-flex nav-item" href="./controllers/Services.controller/services.controller.php?action=index">Crear servicio</a> #}
				</div>
			</nav>
		{% endblock %}


		<div class="container position-relative" id="content">
			{% block content %}

				Contenido Principal Layout

			{% endblock %}

			
			
			{% block pagination %}

			{% endblock %}
			


			{% block bottoms %}
				{% if view is defined %}
					{% if view == 'table.services.html.twig' %}
						<a class="btn btn-primary" href="{{path('services_show', {'action' : 'show', 'view' : 'form-new-service'})}}">Crear Servicio</a>
					{% endif %}

				{% endif %}
			{% endblock %}
		</div>


		
		{% block footer %}
			<footer class="footer fixed-bottom">
				<div class="container">
					<span class="text-muted">Todos los derechos reservados Buses para Todos.</span>
				</div>
			</footer>
		{% endblock %}
		
		
		{% block javascript %}
			{# funcciones propias #}
			<script type="text/javascript" src="{{asset('js/functions.js')}}"></script>
			<script type="text/javascript" src="{{asset('js/function_bus.js')}}"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

			{# alertas sweet js #}
			<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		{% endblock %}
		


	</body>
	</html>