{% extends 'layout.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-2">
			<h5>Seleccione asiento</h5>
			<table>
				{# fila 1 #}
				<tbody id="maqueta_bus">

				</tbody>

			</table>
		</div>
		{# <div class="col-10">
			<h5>Datos de Servicio</h5>

			<td><a href="#" id="seat_1"><span class="material-icons"  style="color: green;">airline_seat_recline_normal</span></a></td>
		</div> #}
	</div>


{% endblock %}



