{% block content %}

	<div class="row">
		<div class="col" style="background-image: url('{{asset('img/bus-310765_1280.png')}}'); 
		background-color: transparent; 
		height: 250px; 
		background-repeat: no-repeat;">

		<table>
			<tbody>
				<tr>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
				</tr>
				<tr>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
				</tr>

				<tr>
					<td><span class="material-icons"></span></td>
					<td><span class="material-icons"></span></td>
					<td><span class="material-icons"></span></td>
					<td><span class="material-icons"></span></td>
					<td><span class="material-icons"></span></td>
					<td><span class="material-icons"></span></td>
					<td><span class="material-icons"></span></td>
					<td><span class="material-icons"></span></td>
					<td><span class="material-icons"></span></td>
				</tr>
				<tr>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
				</tr>
				<tr>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
					<td><span class="material-icons">airline_seat_recline_extra</span></td>
				</tr>
				
				
			</tbody>

		</table>

	</div>
	<div class="row">
		<div class="col-6">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia vel labore voluptatibus consectetur cumque eos, soluta deserunt amet officia deleniti maiores ratione fugiat praesentium aliquam id! Unde enim incidunt sequi?
			Magni veritatis quidem neque pariatur vel earum quia minima architecto laborum quos iusto laudantium facilis cupiditate soluta nesciunt placeat dolores, eius laboriosam voluptatem deleniti, in! Atque quam suscipit dolorum qui.
			Fugiat libero possimus ab voluptates consequatur quae dolore harum quasi voluptatum, rerum recusandae, dicta in quibusdam maxime sint quidem, quos, accusamus aliquid impedit vero. Alias asperiores ab quo illum id!
			Aperiam nesciunt, dignissimos alias reprehenderit illum ex id, aliquid quia sint aspernatur illo, soluta, repellendus deleniti necessitatibus! Provident praesentium accusamus veritatis soluta sunt tempora vel quam! Blanditiis illo magnam voluptatum?
			Accusamus, voluptatem, natus. Illum vitae ut quia aut aliquid tempore quo, ab nihil non provident voluptatum sit, doloremque earum, nulla mollitia soluta nostrum necessitatibus eos assumenda incidunt possimus quos vero.
		</div>
	</div>
</div>



{% endblock %}
