<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-md-auto">
			<h1> Sin servicios cargados</h1>
			<img class="rounded float-start" src="{{asset('img/empty_service.jpg')}}" alt="" height="400" width="600">
		</div>
		
	</div>
</div>


