<div class="row align-items-center">
	<form action="services.controller.php?action=store" method="post" id="form_new_service">
		<div class="row">
			<div class="col mb-3">
				<label for="">Origen</label>
				<select class="form-select" aria-label="Default select example" name="origen_newService" id="origen_newService">

				</select>
			</div>
			<div class="col mb-3">
				<label for="">Destino</label>
				<select class="form-select" aria-label="Default select example" name="destino_newService" id="destino_newService">

				</select>
			</div>

		</div>
		<div class="mb-3">
			<div class="row">
				<div class="col">
					<label for="">Horario Salida</label>
					<input class="form-select" type="time" name="service_hs" id="service_hs">
				</div>
				<div class="col">
					<label for="">Horario Llegada</label>
					<input class="form-select" type="time" name="service_hll" id="service_hll">
				</div>
			</div>	
		</div>
		<div class="row">
			<div class="col mb-3">

				{# <span class="input-group-text" id="basic-addon1">@</span> #}
				<label for="precio" class="form-label">Precio</label>
				<input type="text" class="form-control" id="precio" name="precio">
			</div>
			<div class="col mb-3">
				<label for="unidad">Bus</label>
				<select class="form-select" aria-label="Default select example" name="bus" id="bus">
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col mb-3">	
				<div>
					<label for="">Dias disponibilidad servicio</label>	
				</div>

				<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group" id="btn-group">
					<input type="checkbox" class="btn-check" id="btn_check_lunes" autocomplete="off" value="1" name="btn_check_1">
					<label class="btn btn-outline-primary" for="btn_check_lunes">Lunes</label>

					<input type="checkbox" class="btn-check" id="btn_check_martes" autocomplete="off" value="2" name="btn_check_2">
					<label class="btn btn-outline-primary" for="btn_check_martes">Martes</label>

					<input type="checkbox" class="btn-check" id="btn_check_miercoles" autocomplete="off" value="3" name="btn_check_3">
					<label class="btn btn-outline-primary" for="btn_check_miercoles">Miercoles</label>

					<input type="checkbox" class="btn-check" id="btn_check_jueves" autocomplete="off" value="4" name="btn_check_4">
					<label class="btn btn-outline-primary" for="btn_check_jueves">Jueves</label>

					<input type="checkbox" class="btn-check" id="btn_check_viernes" autocomplete="off" value="5" name="btn_check_5">
					<label class="btn btn-outline-primary" for="btn_check_viernes">Viernes</label>

					<input type="checkbox" class="btn-check" id="btn_check_sabado" autocomplete="off" value="6" name="btn_check_6">
					<label class="btn btn-outline-primary" for="btn_check_sabado">Sabado</label>

					<input type="checkbox" class="btn-check" id="btn_check_domingo" autocomplete="off" value="0" name="btn_check_0">
					<label class="btn btn-outline-primary" for="btn_check_domingo">Domingo</label>

					{# Programar para que se marquen todos los dias #}
					{# <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
					<label class="btn btn-outline-primary" for="btncheck7">Todos los dias</label> #}

				</div>
			</div>

		</div>
		<div class="row">	
			<div class="mb-3">
				<input class="btn btn-primary" type="submit" name="envio_form" id="envio_form" value="Save">
			</div>
		</div>
		
	</form>		

</div>

