<div class="col">
	<h5>Datos Servicio</h5>
	<form>
		<div class="row">
			<div class="col">
				<label class="form-label" for="">Origen:</label>
			</div>
			<div class="col">
				<label class="form-label" id="origen_services_details"></label>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label class="form-label" for="">Destino:</label>
			</div>
			<div class="col">
				<label class="form-label" id="destino_services_details"></label>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label class="form-label" for="">Precio:</label>
			</div>
			<div class="col">
				<label class="form-label" id="precio_services_details"></label>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<span class="material-icons">airline_seat_recline_extra</span>
			</div>
			<div class="col">
				<label class="form-label" id="seat_services_details"></label>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label class="form-label" for="">Horario Salida:</label>
			</div>
			<div class="col">
				<label class="form-label" id="hs_services_details"></label>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label class="form-label" for="">Horario Llegada:</label>
			</div>
			<div class="col">
				<label class="form-label" id="hll_services_details"></label>
			</div>
		</div>
	</form>
</div>

<div class="col">
	<h5>Datos Pasajero</h5>
	<form>
		<div class="row">
			<div class="col">
				<label class="form-label" for="">Nombre</label>
			</div>
			<div class="col">
				<label class="form-label" id="name_services_details"></label>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label class="form-label" for="">Apellido</label>
			</div>
			<div class="col">
				<label class="form-label" id="last_name_services_details"></label>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label class="form-label" for="">DNI</label>
			</div>
			<div class="col">
				<label class="form-label" id="dni_services_details"></label>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label class="form-label" for="">Email</label>
			</div>
			<div class="col">
				<label class="form-label" id="email_services_details"></label>
			</div>
		</div>
	</form>
</div>


<div class="row" id="btn_panel">
	<div class="col">
		<div class="row" id="btn_panel_left"></div>
		
	</div>
	<div class="col">
		<div class="row" id="btn_panel_right"></div>
	</div>
</div>


