<table class="table" id="table_content">
  <thead>
    <tr>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Hora Salida</th>
      <th scope="col">Hora llegada</th>
      <th scope="col">Precio</th>
      <th scope="col">Estado</th>
      <th scope="col">Opciones</th>

    </tr>
  </thead>
  <tbody id="body_content">
  </tbody>
 
</table>