{# {{dump(services_array_tpl)}} #}
{% if services_array_tpl is empty %}
	{% include 'empty.html.twig' %}
{% endif %}
{% if services_array_tpl is not empty %}
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Origen</th>
				<th scope="col">Destino</th>
				<th scope="col">Horario Salida</th>
				<th scope="col">Horario Destino</th>
				<th scope="col">Precio</th>
				<th scope="col">Estado</th>

				<th scope="col">Opciones</th>
			</tr>
		</thead>
		<tbody>

			{# {{dump(services_array_tpl)}} #}
			{% for service in services_array_tpl %}
				<tr>
					<td>{{service.id_o}}</td>
					<td>{{service.id_d}}</td>
					<td>{{service.services_hs}}</td>
					<td>{{service.services_hll}}</td>
					<td>{{service.service_price}}</td>
					<td>{{service.service_estate}}</td>
					<td>
						<a href="{{path('services_delete',{'action' : 'delete' , 'view': 'table-services', 'id': service.id}) | url_encode}}"><span class="material-icons">delete</span></a> 
						<a href="{{path('services_update',{'action' : 'update' , 'view': 'table-services', 'id': service.id}) | url_encode}}"><span class="material-icons">update</span></a>	
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% block pagination %}
		{# {{dump(pages)}} #}
		{% if page_a is defined %}
			<div class="row position-absolute bottom-0 start-50 translate-middle-x">
				<nav aria-label="...">
					<ul class="pagination pagination-sm">
						{% for page in 1..pages %}
							{% if page == page_a %}
								<li class="page-item active" aria-current="page">
									<span class="page-link">{{page}}</span>
								</li>
							{% endif %}
							{% if page != page_a %}
								<li class="page-item">
									<a class="page-link" href="{{path('servicio_index',{'action': 'index', 'view' : 'table-services', 'page': page })}}">{{page}}</a>
								</li>
							{% endif %}

						{% endfor %}
					</ul>
				</nav>
			</div>
		{% endif %}
		
	{% endblock %}
{% endif %}


