<div class="row">
	<div class="col">
		<label class="form-label">Origen:</label>
	</div>
	<div class="col">
		<label class="form-label" id="origen_block_information"></label>
	</div>
</div>

<div class="row">
	<div class="col">
		<label class="form-label">Destino:</label>
	</div>
	<div class="col">
		<label class="form-label"  id="destino_block_information"></label>
	</div>
</div>

{# <div class="row">
	<div class="col">
		<label class="form-label">Recorrido:</label>
	</div>
	<div class="col">
		<a href="#" class="text-info bg-dark"> ver recorrido</a>
	</div>
</div> #}

<div class="row">
	<div class="col">
		<label class="form-label">Precio:</label>
	</div>
	<div class="col">
		<label class="form-label"  id="precio_block_information"></label>
	</div>
</div>

<div class="row">
	<div class="col">
		<label class="form-label">Asientos Disponibles:</label>
	</div>
	<div class="col">
		<label class="form-label" id="seats_avaibles_block_information"></label>
	</div>
</div>
